@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
}
html {
  font-size: 16px;
}
.navigation-bar {
  height: 90px;
  z-index: 9999;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

h3 span {
  color: transparent;
  background: linear-gradient(to bottom, #d32626 50%, #20068e 50%);
  background-clip: text;
}
.hero-section {
  background: #000000;
  color: #fff;
  margin-top: 90px;
  height: 100vh; /** i added this giving height as auto is not the best in this scenario **/
  /* padding: 2.9rem 7rem 0rem 7rem; */
  padding: 3rem 4rem;
  display: flex;
}

@media screen and (min-width: 100px) and (max-width: 770px) {
  .navigation-bar {
    padding: 1.5rem 1.7rem;
    height: 70px;
    width: 100%;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: none;
    padding: 3rem 2rem;
    width: 50%;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
    background-color: #000000;
    color: #fff;
    position: fixed;
  }

  .mobile-nav li {
    margin-top: 2rem;
    font-size: 20px;
    font-family: 500;
  }
  .menu-icon {
    width: 50px;
  }
  .close-icon {
    width: 50px;
    position: absolute;
    top: 0;
  }
  h3 {
    font-size: 32px;
    font-weight: 350;
  }
}

@media screen and (min-width: 770px) {
  .menu-icon {
    display: none;
  }

  h3 {
    font-size: 40px;
    font-weight: 350;
  }
  .close-icon {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
  .hero-text,
  .hero-image {
    flex: 1;
  }

  .desktop-nav li {
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
  }

  .hero-image img {
    width: 600px;
    height: 600px;
  }
  .mobile-nav {
    display: none;
  }
  .hero-section {
    flex-direction: row;
    padding: 3rem 6rem;
    gap: 5rem;
  }
  .hero-image img {
    max-width: 100%;
  }
  .hero-text {
    padding-top: 12rem;
  }
  .hero-text h4 {
    font-size: 30px;
  }
}
